fastapi
uvicorn
python-dotenv
google-cloud-vision
google-cloud-storage
vertexai
pydantic
httpx
jinja2
python-multipart
python-jose[cryptography]
passlib[bcrypt]
watchfiles
google-auth
sqlcipher3
requests
google-cloud-secret-manager
slowapi
pandas
openpyxl
google-api-python-client
Pillow
google-generativeai
google-genai
psycopg2-binary
